.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}
.wrapper_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    width: 600px;
    padding: 20px 10px 5px 10px;
    outline: none;
    border: none;
    border-bottom: 1px solid #a8a8a8;
}

.button{
    font-size: 26px;
    padding: 5px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: #383838;
}